<h1>設定</h1>
<%= stylesheet_link_tag "users", :media => "all" %>

<div class ="UserContainer">
  <ul class="SideNav">
    <li class ="SideNav_account"><a><%= link_to "アカウント", :users_account %></a>
    </li>
    <li class ="SideNav_profile"><a><%= link_to "プロフィール", :users_profile %></a>
    </li>
  </ul>

  <div class ="AccountInformation">
    <div class ="AccountInformation_header">
      <h3>アカウント</h3>
      <h3 class ="AccountInformation_edit"><%= link_to "編集", edit_user_registration_path %></h3>
    </div>
  </div>
</div>

<div class ="AccountInformation_input-group">
  <p>メールアドレス: <%= current_user.email %></p>
  <p>パスワード: *******</p>
</div>