<h3>登録済み一覧</h3>

<% if flash[:success] %>
  <p class="success"><%= flash[:success] %></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">画像</th>
      <th scope="col">施設名</th>
      <th scope="col">紹介文</th>
      <th scope="col">料金</th>
      <th scope="col">作成日</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>
          <% if room.image.attached? %>
            <%= image_tag room.image, size: "120x70"%>
          <%else%>
            <%= image_tag 'default-room-image.png', size: "120x70"%>
          <% end %>
        </td>
        <td><%= link_to "#{room.name_of_hotel}", [room] %></td>
        <td><%= room.introduction %></td>
        <td>¥<%= room.price %>〜</td>
        <td><%= room.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "編集", edit_room_path(room.id) %></td>
        <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>